{% extends 'base.html' %}

{% block content %}
<div class="flex-1 p-4"> <!-- Flex-1 to take up remaining space of the flex container -->
    <div class="container mx-auto sm:px-6">
        <h1 class="transition-all block text-[#544948] text-lg sm:text-2xl fw-bold sm:text-center my-4 sm:my-8 mx-6">
            Спросите что-нибудь</h1>

        <div class="mt-2 z-50 relative">
            <form action="{% url 'search_page' %}" method="GET">
                {# csrf_token #}
                <textarea
                        style="background: linear-gradient(-90deg, #990012 2rem, #fff 2rem)"
                        rows="6"
                        id="query-field"
                        class="transition-all outline-none resize-none block w-full sm:rounded-md border-0 pl-6 pr-14 py-3 text-gray-900 shadow-sm placeholder:text-gray-400 focus:shadow-md"
                        name="query"

                        placeholder="Введите поисковый запрос...">{% if query %}{{ query }}{% endif %}</textarea>
                <div class="flex justify-center w-[100px] my-5">
                    <input type="submit" value="Найти" class="w-full p-2 bg-[#8B0010] text-white rounded hover:bg-red-600 focus:outline-none"></input>
                </div>
            </form>
        </div>
        <div class="mt-10 mb-20 sm:px-8">
            <div id="loading" style="display: none;">Loading...</div>

            <div id="answer" class="mt-4">
                {% if response and 'error' not in response %}
                <div class="w-full shadow">
                    <div class="flex flex-col gap-1 bg-white rounded-lg px-4 py-2">
                        <div>
                            <p>{{ response.text }}</p>
                        </div>
                        <div class="border-b w-full"></div>
                        <div class="font-bold">Источники: {% for source in response.sources %}{{ source.document_name }}, ст. {{ source.article_number }}; {% endfor %}</div>
                    </div>
<!--                        <div id="loading-block"></div>-->
<!--                        <div id="answers-wrapper"></div>-->
                </div>
                {% elif 'error' in response %}
                <div class="w-full shadow">
                    <div class="flex flex-col gap-1 bg-white rounded-lg px-4 py-2">
                        <div>
                            <p>{{ response.text }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
